<h2 align="center">Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center"><strong>Description</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-actions">
    <%= link_to 'Edit this article', edit_article_path(@article) %> |
    <%= link_to 'Back to articles listing', articles_path %>    
  </div>
</div>
