{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint-config-airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }]
  }
}
